.parentContainer {
  width: 100%;
  height: 100%;
  background-color: #121212;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #121212;
}

.text {
  max-width: 80vw;
  font-size: 6vmin;
  font-weight: 800;
  text-align: center;
  color: #fafafa;
}

.bottomText {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  margin: 0;
  max-width: 50vw;
  font-size: 3vmin;
  font-weight: 800;
  text-align: right;
}

.start {
  position: absolute;
  bottom: 10vmin;
  width: 7vmin;
  cursor: pointer;
}

.svg {
  position: absolute;
}

.radialAreaLabel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3vmin;
  font-weight: 800;
  line-height: 1.3;
  color: #121212;
}

.styledLabel {
  font-size: 7vmin;
  font-weight: 800;
  line-height: 1.3;
  margin: 0;
  background: -webkit-linear-gradient(#f89b29, #ff0f7b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}