.container {
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 5vmin;
  min-width: 20px;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.container:nth-child(2) .icon {
  margin-top: 2px;
}

.container:nth-child(1):hover {
  background-color: #3a86ff72;
}

.container:nth-child(2):hover {
  background-color: #8d99ae72;
}

.container:nth-child(3):hover {
  background-color: #ff8c5072;
}

/* 
// When resume is active
.container:nth-child(3) .icon {
  margin-top: 2px;
}

.container:nth-child(1):hover {
  background-color: #CA4DAF72;
}

.container:nth-child(2):hover {
  background-color: #3a86ff72;
}

.container:nth-child(3):hover {
  background-color: #8d99ae72;
}

.container:nth-child(4):hover {
  background-color: #FF8C5072;
} */
