.button {
  /* Reset default CSS */
  border: none;
  /* padding: 2vmin 3vmin; */
  margin: 0 1.5vmin;
  text-decoration: none;
  font-family: 'Poppins';
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Styling */
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5vmax;
  height: 6vmin;
  min-width: 52px;
  min-height: 40px;
  background-color: #8338ec72;
  font-size: calc(10px + 1vmin);
  font-weight: 400;
  transition: color 0.1s ease-in;
}