.button {
  /* Reset default CSS */
  border: none;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Styling */
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5vmax;
  height: 6vmin;
  min-width: 52px;
  min-height: 40px;
}

.image {
  position: absolute;
  width: 4vmin;
}

@media only screen and (max-width: 500px) {
  .image {
    width: 5vmin;
  }
}