@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

:root {
  --primary-black: #121212;
  --primary-white: #fafafa;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  transition: background-color 0.1s ease-in;
}

body.light-mode {
  background-color: var(--primary-white);
  color: black;
}
body.dark-mode {
  background-color: var(--primary-black);
  color: white;
}
